/* Write your CSS here */
.container {
  background-image: url(https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png);
  height: 100vh;
  display: flex;

  justify-content: center;
  align-items: center;
}

.number-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  width: 35%;
  box-shadow: 10px 10px 5px lightblue;
}

.number {
  color: blue;
  font-size: 35px;
  font-weight: 800;
}

.button {
  background-color: #0b69ff;
  padding: 10px;
  border: none;
  font-family: sans-serif;
  color: #ffffff;
  border-radius: 15px;
  font-weight: 700;
}
